<!DOCTYPE HTML>
<html>
<head>
	<title>Drunk Xmas | Finely curated holiday gifts for Xmas 2015</title>
	<link href='https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<style>
		body {
			margin: 0;
			font-family: 'Roboto Slab', serif;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		a {
			color: black;
			text-decoration: underline;
		}
		a:hover {
			text-decoration: none;
			color: red;
		}
		#wrapper {
			border: solid 0px red;
			width: 1200px;
			margin: 0 auto;
			overflow: auto;
			overflow: hidden;
		}
		#logo {
			width: 485px;
			float: left;
		}
		#ornament {
			float: left;
			margin-left: 358px;
			background-image: url('ornament.png');
			background-repeat: no-repeat;
			width: 101px;
			height: 145px;
			font-family: 'Mountains of Christmas', cursive;
		}
		#days-num {
			text-align: center;
			margin-top: 38px;
			font-weight: bold;
			font-size: 50px;
			margin-bottom: 0;
		}
		#days-till {
			font-size: 18px;
			font-weight: bold;
			text-align: center;
		}
		#drink {
			float: right;
			width: 127px;
			font-family: 'Mountains of Christmas', cursive;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
		}
		#drink p {
			text-align: center;
			margin: 4px;
		}
		#drink img {
			display: block;
			margin: 0 auto;
		}
		#divider { 
			clear: both;
			margin: 25px 0;
			height: 1px;
			background-image: linear-gradient(to right, white, #17b5ff, white);
		}
		.divider {
			clear: both;
			border-bottom: solid 2px #17b5ff;
			padding-top: 10px;
		}
		#products ul {
			list-style-type: none;
		}
		#products ul li {
			border: solid 0px blue;
			width: 360px;
			padding: 0 5px;
			float: left;
			height: 400px;
			margin-right: 13px;
		}
		#products ul li p {
			text-align: center;
		}
		#products img {
			display: block;
			margin: 0 auto;
			height: 270px;
		}
		@media screen and (max-width: 767px) {
			#wrapper {
				width: 100%;
			}
			#updated {
				text-align: center;
			}
			#products ul li {
				margin: 20px 0 0 0;
				width: 100%;
				border-bottom: solid 1px gray;
			}
			#ornament, #drink {
				display: none;
			}
		}
	</style>
</head>
<body>
	<div id="wrapper">
		<header>
			<div id="logo">
				<a href='http://www.drunkxmas.com'>
					<img src="logo.png">
				</a>
			</div>
			<div id="ornament">
				<p id="days-num">25</p>
				<p id="days-till">Days till Xmas</p>
			</div>
			<div id="drink">
				<p>Drink of the Day:</p>
				<div id="drink-image">
					<a href="http://www.thenewpotato.com/2014/08/22/moscow-mule-recipe/" target="_blank"><img src="moscow.jpg"></a>
				</div>
				<p><a href="http://www.thenewpotato.com/2014/08/22/moscow-mule-recipe/" target="_blank">Moscow Mule</a></p>
			</div>
			<div id="divider"></div>
		</header>
		<section id="main">
			<p id="updated">
				Finely curated holiday gifts updated daily.
			</p>
			<div id="products">
				<ul>
					<li>
						<a href="http://amzn.to/1SU0H7F" target="_blank"><img src="tuxedo.jpg"></a>
						<p class="title"><a href="http://amzn.to/1SU0H7F" target="_blank">Tuxedo Christmas T-shirt</a></p>
						<p class="description">Dress to impress without blowing the bank!</p>
					</li>
					<li>
						<a href="http://amzn.to/1XaZwHf" target="_blank"><img src="shovel.jpg"></a>
						<p class="title"><a href="http://amzn.to/1XaZwHf" target="_blank">Tactical Survival Shovel</a></p>
						<p class="description">The ultimate survival tool.</p>
					</li>
					<li>
						<a href="http://amzn.to/1SU0PnD" target="_blank"><img src="trump.jpg"></a>
						<p class="title"><a href="http://amzn.to/1SU0PnD" target="_blank">Donald Trump Toilet Paper</a></p>
						<p class="description">Make a political statement....with your butt.</p>
					</li>
					<li>
						<a href="http://amzn.to/1SU19mk" target="_blank"><img src="pillbottle.jpg"></a>
						<p class="title"><a href="http://amzn.to/1SU19mk" target="_blank">Prescription Coffee Mug</a></p>
						<p class="description">Disguise your coffee addiction with pill popping.</p>
					</li>
					<li>
						<a href="http://amzn.to/1N7yD0m" target="_blank"><img src="napsack.jpg"></a>
						<p class="title"><a href="http://amzn.to/1N7yD0m" target="_blank">Prank Pack Nap Sack</a></p>
						<p class="description">Chillaxation Weekly proclaims the Nap Sack to be the best "Public Sleep Product."</p>
					</li>
					<li>
						<a href="http://amzn.to/1N7yOsA" target="_blank"><img src="hankey.jpg"></a>
						<p class="title"><a href="http://amzn.to/1N7yOsA" target="_blank">Mr. Hankey Christmas Tree Ornament </a></p>
						<p class="description">Decorate your tree with everyone's favorite Christmas poo!</p>
					</li>
					<li>
						<a href="http://amzn.to/1PUCnTV" target="_blank"><img src="ottoman.jpg"></a>
						<p class="title"><a href="http://amzn.to/1PUCnTV" target="_blank">Super Mario Bros. Ottoman</a></p>
						<p class="description">Impress your friends with video game furniture.</p>
					</li>
					<li>
						<a href="http://amzn.to/1XaWHpV" target="_blank"><img src="ninja.jpg"></a>
						<p class="title"><a href="http://amzn.to/1XaWHpV" target="_blank">Ninja Flip T-Shirt</a></p>
						<p class="description">Everyone's got a little Ninja inside.</p>
					</li>
					<li>
						<a href="http://amzn.to/1XaXt6e" target="_blank"><img src="catgame.png"></a>
						<p class="title"><a href="http://amzn.to/1XaXt6e" target="_blank">Crazy Cat Lady Game</a></p>
						<p class="description">Whoever has the most cats wins!</p>
					</li>
					<li>
						<a href="http://amzn.to/1QF9HQq" target="_blank"><img src="hook.jpg"></a>
						<p class="title"><a href="http://amzn.to/1QF9HQq" target="_blank">Tactical Survival Shovel with Sheath</a></p>
						<p class="description">Not only for playing Legend of Zelda!</p>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<script>
		// Insert days until Christmas
		var myDate = new Date(); 
		var cmas = Date.parse("Dec 25, " + myDate.getFullYear());
		var today = Date.parse(myDate);
		var daysToChristmas = Math.round((cmas-today)/(1000*60*60*24));
		document.getElementById('days-num').innerHTML = daysToChristmas;
	</script>
</body>
</html>